In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("t20i_info.csv")

In [3]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground

In [4]:
df.isnull().sum()

Unnamed: 0             0
match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8548
venue                  0
dtype: int64

In [5]:
df.shape

(63888, 9)

In [6]:
# Cricbuzz, Cricket Line Guru, Tv Screen -> Projected Score / Predicted Score

batting team,
bowling team,
city,
current score,
balls left,
wicket left,
current run rate,
last five/six->powerplay,

In [7]:
df[df['city'].isnull()]['venue'][0].split(" ")[0]

'Melbourne'

In [8]:
df['city'] = df['city'].fillna(df['venue'].apply(lambda x: x.split(' ')[0]))

In [9]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [10]:
df.isnull().sum()

Unnamed: 0          0
match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [11]:
df['city'].value_counts()

city
Colombo          4086
Mirpur           3420
Johannesburg     3331
Dubai            2969
Auckland         2532
                 ...
Victoria          123
Potchefstroom     122
Dharamsala        122
Ahmedabad         121
Carrara            64
Name: count, Length: 86, dtype: int64

In [12]:
eligible_cites = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [13]:
eligible_cites

['Colombo',
 'Mirpur',
 'Johannesburg',
 'Dubai',
 'Auckland',
 'Cape Town',
 'London',
 'Pallekele',
 'Barbados',
 'Sydney',
 'Melbourne',
 'Durban',
 'St Lucia',
 'Wellington',
 'Lauderhill',
 'Hamilton',
 'Centurion',
 'Manchester',
 'Abu Dhabi',
 'Mumbai',
 'Nottingham',
 'Southampton',
 'Mount Maunganui',
 'Chittagong',
 'Kolkata',
 'Lahore',
 'Delhi',
 'Nagpur',
 'Chandigarh',
 'Adelaide',
 'Bangalore',
 'St Kitts',
 'Cardiff',
 'Christchurch',
 'Trinidad']

In [14]:
df = df[df['city'].isin(eligible_cites)]

In [15]:
df.shape

(50501, 9)

In [16]:
df

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...,...
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [82]:
# Perform the cumulative sum of 'runs' within each group of 'match_id'
df['current_score'] = df.groupby('match_id')['runs'].cumsum()

In [83]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,over,ball_no,ball_bowled,balls_left,wicket_left,cumulative_dismissed,current_score
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,1,1,119,10,0,0
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,2,2,118,10,0,0
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,0,3,3,117,10,0,1
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,0,4,4,116,10,0,3
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,0,5,5,115,10,0,3

In [84]:
df['over'] = df['ball'].apply(lambda x : str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x : str(x).split(".")[1])

In [85]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,over,ball_no,ball_bowled,balls_left,wicket_left,cumulative_dismissed,current_score
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,1,1,119,10,0,0
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,2,2,118,10,0,0
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,0,3,3,117,10,0,1
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,0,4,4,116,10,0,3
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,0,5,5,115,10,0,3

In [86]:
df['ball_bowled'] = (df['over'].astype(int)*6 + df['ball_no'].astype(int))

In [87]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,over,ball_no,ball_bowled,balls_left,wicket_left,cumulative_dismissed,current_score
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,19,3,117,3,10,8,125
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,19,4,118,2,10,8,125
63885,123,964,Sri Lanka,Australia,19.5,0,1,Colombo,R Premadasa Stadium,19,5,119,1,9,9,125
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,19,6,120,0,10,9,127
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,19,7,121,0,10,9,128

In [88]:
df['balls_left'] = 120 - df['ball_bowled']

In [89]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,over,ball_no,ball_bowled,balls_left,wicket_left,cumulative_dismissed,current_score
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,19,3,117,3,10,8,125
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,19,4,118,2,10,8,125
63885,123,964,Sri Lanka,Australia,19.5,0,1,Colombo,R Premadasa Stadium,19,5,119,1,9,9,125
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,19,6,120,0,10,9,127
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,19,7,121,-1,10,9,128

In [90]:
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)

In [91]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,over,ball_no,ball_bowled,balls_left,wicket_left,cumulative_dismissed,current_score
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,19,3,117,3,10,8,125
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,19,4,118,2,10,8,125
63885,123,964,Sri Lanka,Australia,19.5,0,1,Colombo,R Premadasa Stadium,19,5,119,1,9,9,125
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,19,6,120,0,10,9,127
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,19,7,121,0,10,9,128

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50501 entries, 0 to 63887
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            50501 non-null  int64
 1   match_id              50501 non-null  int64
 2   batting_team          50501 non-null  object
 3   bowling_team          50501 non-null  object
 4   ball                  50501 non-null  float64
 5   runs                  50501 non-null  int64
 6   player_dismissed      50501 non-null  int64
 7   city                  50501 non-null  object
 8   venue                 50501 non-null  object
 9   over                  50501 non-null  object
 10  ball_no               50501 non-null  object
 11  ball_bowled           50501 non-null  int64
 12  balls_left            50501 non-null  int64
 13  wicket_left           50501 non-null  int64
 14  cumulative_dismissed  50501 non-null  int64
 15  current_score         50501 non-null  int64
dtypes: float64(1), int64(9), object(6)
memory usage: 6.5+ MB

In [93]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x:1 if x!='0' else '0')

In [94]:
df

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,over,ball_no,ball_bowled,balls_left,wicket_left,cumulative_dismissed,current_score
0,0,2,Australia,Sri Lanka,0.1,0,1,Melbourne,Melbourne Cricket Ground,0,1,1,119,10,0,0
1,1,2,Australia,Sri Lanka,0.2,0,1,Melbourne,Melbourne Cricket Ground,0,2,2,118,10,0,0
2,2,2,Australia,Sri Lanka,0.3,1,1,Melbourne,Melbourne Cricket Ground,0,3,3,117,10,0,1
3,3,2,Australia,Sri Lanka,0.4,2,1,Melbourne,Melbourne Cricket Ground,0,4,4,116,10,0,3
4,4,2,Australia,Sri Lanka,0.5,0,1,Melbourne,Melbourne Cricket Ground,0,5,5,115,10,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63883,121,964,Sri Lanka,Australia,19.3,1,1,Colombo,R Premadasa Stadium,19,3,117,3,10,8,125
63884,122,964,Sri Lanka,Australia,19.4,0,1,Colombo,R Premadasa Stadium,19,4,118,2,10,8,125
63885,123,964,Sri Lanka,Australia,19.5,0,1,Colombo,R Premadasa Stadium,19,5,119,1,9,9,125
63886,124,964,Sri Lanka,Australia,19.6,2,1,Colombo,R Premadasa Stadium,19,6,120,0,10,9,127
63887,125,964,Sri Lanka,Australia,19.7,1,1,Colombo,R Premadasa Stadium,19,7,121,0,10,9,128

In [95]:
df['player_dismissed'] = df['player_dismissed'].astype(int)

In [96]:


# Perform the cumulative sum within each group of 'match_id'
df['cumulative_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()

In [97]:
df['wicket_left'] = 10 - df['player_dismissed']

In [98]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,over,ball_no,ball_bowled,balls_left,wicket_left,cumulative_dismissed,current_score
63883,121,964,Sri Lanka,Australia,19.3,1,1,Colombo,R Premadasa Stadium,19,3,117,3,9,122,125
63884,122,964,Sri Lanka,Australia,19.4,0,1,Colombo,R Premadasa Stadium,19,4,118,2,9,123,125
63885,123,964,Sri Lanka,Australia,19.5,0,1,Colombo,R Premadasa Stadium,19,5,119,1,9,124,125
63886,124,964,Sri Lanka,Australia,19.6,2,1,Colombo,R Premadasa Stadium,19,6,120,0,9,125,127
63887,125,964,Sri Lanka,Australia,19.7,1,1,Colombo,R Premadasa Stadium,19,7,121,0,9,126,128

In [99]:
df['current_run_rate'] = (df['current_score']*6) / df['ball_bowled']

In [100]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,over,ball_no,ball_bowled,balls_left,wicket_left,cumulative_dismissed,current_score,current_run_rate
63883,121,964,Sri Lanka,Australia,19.3,1,1,Colombo,R Premadasa Stadium,19,3,117,3,9,122,125,6.410256
63884,122,964,Sri Lanka,Australia,19.4,0,1,Colombo,R Premadasa Stadium,19,4,118,2,9,123,125,6.355932
63885,123,964,Sri Lanka,Australia,19.5,0,1,Colombo,R Premadasa Stadium,19,5,119,1,9,124,125,6.302521
63886,124,964,Sri Lanka,Australia,19.6,2,1,Colombo,R Premadasa Stadium,19,6,120,0,9,125,127,6.350000
63887,125,964,Sri Lanka,Australia,19.7,1,1,Colombo,R Premadasa Stadium,19,7,121,0,9,126,128,6.347107

In [161]:
# Group by 'match_id'
groups = df.groupby('match_id')

# 5 over = 30 balls
match_id = df['match_id'].unique()
last_five = []

for id in match_id:
    # Apply rolling sum on the 'runs' column
    rolling_sums = groups.get_group(id)['runs'].rolling(window=30).sum()
    last_five.extend(rolling_sums.values.tolist())

# print(last_five)

In [104]:
df['last_five'] = last_five

In [105]:
last_five

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 43.0,
 44.0,
 45.0,
 44.0,
 42.0,
 43.0,
 41.0,
 41.0,
 41.0,
 42.0,
 42.0,
 39.0,
 38.0,
 39.0,
 38.0,
 39.0,
 40.0,
 37.0,
 41.0,
 42.0,
 42.0,
 44.0,
 44.0,
 40.0,
 39.0,
 37.0,
 35.0,
 31.0,
 27.0,
 26.0,
 31.0,
 31.0,
 30.0,
 31.0,
 31.0,
 32.0,
 31.0,
 31.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 35.0,
 32.0,
 32.0,
 31.0,
 29.0,
 29.0,
 31.0,
 32.0,
 32.0,
 32.0,
 33.0,
 36.0,
 37.0,
 37.0,
 39.0,
 41.0,
 40.0,
 41.0,
 41.0,
 42.0,
 44.0,
 39.0,
 43.0,
 45.0,
 48.0,
 48.0,
 48.0,
 49.0,
 49.0,
 49.0,
 51.0,
 51.0,
 51.0,
 52.0,
 52.0,
 53.0,
 53.0,
 53.0,
 54.0,
 53.0,
 52.0,
 50.0,
 53.0,
 47.0,
 46.0,
 45.0,
 46.0,
 47.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 46.0,
 52.0,
 53.0,
 57.0,
 58.0,
 59.0,
 59.0,
 59.0,
 53.0,
 53.0,
 54.0,
 50.0,
 50.0,
 49.0,
 50.0,
 47.0,
 48.0,
 49.0,
 49.0,
 46.0,
 46.0,
 51.0,
 48.0,
 48.0,
 48.0,
 44.0,
 45.0,
 42.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 36.0,
 35.0,
 39.0,
 39.0,
 38.0,
 38.0,
 37.0,
 37.0,
 38.0,
 39.0,
 41.0,
 40.0,
 40.0,
 39.0,
 38.0,
 39.0,
 42.0,
 47.0,
 42.0,
 45.0,
 45.0,
 49.0,
 49.0,
 48.0,
 47.0,
 45.0,
 45.0,
 45.0,
 40.0,
 41.0,
 41.0,
 42.0,
 37.0,
 38.0,
 39.0,
 43.0,
 46.0,
 47.0,
 47.0,
 46.0,
 50.0,
 56.0,
 57.0,
 60.0,
 59.0,
 59.0,
 55.0,
 51.0,
 51.0,
 51.0,
 53.0,
 51.0,
 51.0,
 52.0,
 53.0,
 54.0,
 53.0,
 54.0,
 53.0,
 52.0,
 51.0,
 51.0,
 51.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 42.0,
 42.0,
 43.0,
 42.0,
 42.0,
 43.0,
 40.0,
 40.0,
 37.0,
 33.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 37.0,
 34.0,
 39.0,
 35.0,
 36.0,
 36.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 34.0,
 35.0,
 41.0,
 43.0,
 41.0,
 42.0,
 43.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 47.0,
 50.0,
 51.0,
 52.0,
 57.0,
 53.0,
 58.0,
 61.0,
 59.0,
 65.0,
 68.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 74.0,
 73.0,
 68.0,
 67.0,
 66.0,
 66.0,
 66.0,
 70.0,
 70.0,
 71.0,
 71.0,
 72.0,
 74.0,
 69.0,
 65.0,
 66.0,
 64.0,
 59.0,
 58.0,
 53.0,
 50.0,
 48.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 41.0,
 42.0,
 40.0,
 40.0,
 41.0,
 40.0,
 41.0,
 40.0,
 40.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 36.0,
 36.0,
 35.0,
 35.0,
 32.0,
 32.0,
 32.0,
 31.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 31.0,
 32.0,
 31.0,
 31.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 28.0,
 25.0,
 21.0,
 20.0,
 17.0,
 18.0,
 18.0,
 18.0,
 18.0,
 19.0,
 19.0,
 19.0,
 20.0,
 21.0,
 25.0,
 26.0,
 27.0,
 28.0,
 34.0,
 34.0,
 34.0,
 35.0,
 38.0,
 40.0,
 44.0,
 45.0,
 45.0,
 45.0,
 46.0,
 51.0,
 54.0,
 53.0,
 53.0,
 53.0,
 56.0,
 56.0,
 59.0,
 64.0,
 70.0,
 70.0,
 71.0,
 69.0,
 67.0,
 67.0,
 63.0,
 62.0,
 62.0,
 67.0,
 67.0,
 72.0,
 73.0,
 71.0,
 68.0,
 68.0,
 65.0,
 68.0,
 68.0,
 74.0,
 73.0,
 69.0,
 66.0,
 68.0,
 74.0,
 74.0,
 71.0,
 76.0,
 73.0,
 68.0,
 62.0,
 67.0,
 68.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 41.0,
 42.0,
 39.0,
 43.0,
 44.0,
 47.0,
 51.0,
 51.0,
 48.0,
 44.0,
 44.0,
 45.0,
 46.0,
 47.0,
 49.0,
 49.0,
 50.0,
 52.0,
 54.0,
 54.0,
 54.0,
 55.0,
 54.0,
 60.0,
 61.0,
 56.0,
 58.0,
 58.0,
 54.0,
 56.0,
 57.0,
 56.0,
 55.0,
 52.0,
 51.0,
 48.0,
 45.0,
 46.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 44.0,
 43.0,
 43.0,
 45.0,
 44.0,
 47.0,
 47.0,
 46.0,
 49.0,
 44.0,
 43.0,
 46.0,
 40.0,
 38.0,
 44.0,
 39.0,
 39.0,
 40.0,
 41.0,
 40.0,
 46.0,
 45.0,
 45.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 47.0,
 50.0,
 50.0,
 50.0,
 55.0,
 52.0,
 51.0,
 53.0,
 53.0,
 53.0,
 50.0,
 49.0,
 50.0,
 46.0,
 46.0,
 50.0,
 44.0,
 43.0,
 44.0,
 43.0,
 46.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 33.0,
 33.0,
 36.0,
 36.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 36.0,
 32.0,
 33.0,
 32.0,
 29.0,
 23.0,
 23.0,
 26.0,
 27.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 27.0,
 27.0,
 23.0,
 24.0,
 25.0,
 27.0,
 27.0,
 28.0,
 29.0,
 26.0,
 27.0,
 26.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 26.0,
 27.0,
 27.0,
 26.0,
 28.0,
 28.0,
 25.0,
 25.0,
 25.0,
 25.0,
 24.0,
 25.0,
 24.0,
 25.0,
 25.0,
 29.0,
 30.0,
 29.0,
 31.0,
 31.0,
 31.0,
 31.0,
 30.0,
 29.0,
 30.0,
 29.0,
 34.0,
 34.0,
 35.0,
 35.0,
 34.0,
 33.0,
 38.0,
 39.0,
 37.0,
 38.0,
 38.0,
 38.0,
 37.0,
 38.0,
 40.0,
 43.0,
 49.0,
 50.0,
 51.0,
 47.0,
 46.0,
 52.0,
 48.0,
 49.0,
 49.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 38.0,
 39.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 42.0,
 43.0,
 39.0,
 38.0,
 35.0,
 36.0,
 36.0,
 40.0,
 35.0,
 38.0,
 38.0,
 42.0,
 41.0,
 42.0,
 41.0,
 41.0,
 41.0,
 46.0,
 43.0,
 42.0,
 41.0,
 43.0,
 43.0,
 42.0,
 41.0,
 44.0,
 47.0,
 48.0,
 49.0,
 52.0,
 49.0,
 48.0,
 52.0,
 53.0,
 53.0,
 58.0,
 58.0,
 58.0,
 61.0,
 58.0,
 59.0,
 55.0,
 57.0,
 57.0,
 57.0,
 61.0,
 61.0,
 55.0,
 58.0,
 59.0,
 61.0,
 56.0,
 56.0,
 57.0,
 58.0,
 54.0,
 51.0,
 54.0,
 53.0,
 51.0,
 52.0,
 53.0,
 50.0,
 49.0,
 48.0,
 43.0,
 48.0,
 48.0,
 44.0,
 43.0,
 48.0,
 48.0,
 45.0,
 44.0,
 43.0,
 41.0,
 43.0,
 45.0,
 47.0,
 47.0,
 45.0,
 45.0,
 44.0,
 43.0,
 42.0,
 42.0,
 42.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 37.0,
 37.0,
 36.0,
 36.0,
 37.0,
 40.0,
 40.0,
 41.0,
 42.0,
 39.0,
 39.0,
 42.0,
 43.0,
 44.0,
 44.0,
 44.0,
 42.0,
 41.0,
 41.0,
 41.0,
 35.0,
 31.0,
 30.0,
 29.0,
 27.0,
 27.0,
 23.0,
 23.0,
 24.0,
 29.0,
 29.0,
 28.0,
 28.0,
 28.0,
 29.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 30.0,
 29.0,
 29.0,
 29.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 37.0,
 41.0,
 41.0,
 42.0,
 46.0,
 47.0,
 48.0,
 47.0,
 47.0,
 41.0,
 41.0,
 41.0,
 41.0,
 42.0,
 41.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 37.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 33.0,
 33.0,
 38.0,
 36.0,
 35.0,
 34.0,
 35.0,
 36.0,
 37.0,
 36.0,
 36.0,
 36.0,
 35.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

In [106]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,over,ball_no,ball_bowled,balls_left,wicket_left,cumulative_dismissed,current_score,current_run_rate,last_five
0,0,2,Australia,Sri Lanka,0.1,0,1,Melbourne,Melbourne Cricket Ground,0,1,1,119,9,1,0,0.0,NaN
1,1,2,Australia,Sri Lanka,0.2,0,1,Melbourne,Melbourne Cricket Ground,0,2,2,118,9,2,0,0.0,NaN
2,2,2,Australia,Sri Lanka,0.3,1,1,Melbourne,Melbourne Cricket Ground,0,3,3,117,9,3,1,2.0,NaN
3,3,2,Australia,Sri Lanka,0.4,2,1,Melbourne,Melbourne Cricket Ground,0,4,4,116,9,4,3,4.5,NaN
4,4,2,Australia,Sri Lanka,0.5,0,1,Melbourne,Melbourne Cricket Ground,0,5,5,115,9,5,3,3.6,NaN

In [107]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df, on='match_id')

In [108]:
final_df

,match_id,runs_x,Unnamed: 0,batting_team,bowling_team,ball,runs_y,player_dismissed,city,venue,over,ball_no,ball_bowled,balls_left,wicket_left,cumulative_dismissed,current_score,current_run_rate,last_five
0,2,168,0,Australia,Sri Lanka,0.1,0,1,Melbourne,Melbourne Cricket Ground,0,1,1,119,9,1,0,0.000000,NaN
1,2,168,1,Australia,Sri Lanka,0.2,0,1,Melbourne,Melbourne Cricket Ground,0,2,2,118,9,2,0,0.000000,NaN
2,2,168,2,Australia,Sri Lanka,0.3,1,1,Melbourne,Melbourne Cricket Ground,0,3,3,117,9,3,1,2.000000,NaN
3,2,168,3,Australia,Sri Lanka,0.4,2,1,Melbourne,Melbourne Cricket Ground,0,4,4,116,9,4,3,4.500000,NaN
4,2,168,4,Australia,Sri Lanka,0.5,0,1,Melbourne,Melbourne Cricket Ground,0,5,5,115,9,5,3,3.600000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50496,964,128,121,Sri Lanka,Australia,19.3,1,1,Colombo,R Premadasa Stadium,19,3,117,3,9,122,125,6.410256,32.0
50497,964,128,122,Sri Lanka,Australia,19.4,0,1,Colombo,R Premadasa Stadium,19,4,118,2,9,123,125,6.355932,32.0
50498,964,128,123,Sri Lanka,Australia,19.5,0,1,Colombo,R Premadasa Stadium,19,5,119,1,9,124,125,6.302521,32.0
50499,964,128,124,Sri Lanka,Australia,19.6,2,1,Colombo,R Premadasa Stadium,19,6,120,0,9,125,127,6.350000,33.0
50500,964,128,125,Sri Lanka,Australia,19.7,1,1,Colombo,R Premadasa Stadium,19,7,121,0,9,126,128,6.347107,32.0

In [109]:
final_df.columns

Index(['match_id', 'runs_x', 'Unnamed: 0', 'batting_team', 'bowling_team',
       'ball', 'runs_y', 'player_dismissed', 'city', 'venue', 'over',
       'ball_no', 'ball_bowled', 'balls_left', 'wicket_left',
       'cumulative_dismissed', 'current_score', 'current_run_rate',
       'last_five'],
      dtype='object')

In [142]:
final_df = final_df[['batting_team', 'bowling_team', 'city', 'current_score', 'balls_left', 'wicket_left',
       'current_run_rate', 'last_five', 'runs_x']]

In [143]:
final_df.dropna(inplace=True)

In [144]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wicket_left,current_run_rate,last_five,runs_x
35328,Australia,England,Southampton,123,59,9,12.098361,74.0,248
24765,Australia,India,Barbados,97,58,9,9.387097,51.0,184
45305,England,Pakistan,Dubai,156,6,9,8.210526,44.0,172
10405,India,Bangladesh,Nagpur,172,1,9,8.672269,43.0,174
9168,West Indies,India,Kolkata,68,27,9,4.387097,18.0,109
...,...,...,...,...,...,...,...,...,...
38622,Sri Lanka,England,London,38,87,9,6.909091,33.0,183
16437,South Africa,England,Cape Town,41,90,9,8.200000,40.0,154
46240,Sri Lanka,West Indies,Pallekele,94,59,9,9.245902,41.0,215
23890,Pakistan,Bangladesh,St Lucia,65,71,9,7.959184,36.0,172
30810,Pakistan,England,Dubai,75,50,9,6.428571,20.0,144

In [145]:
final_df.isnull().sum()

batting_team        0
bowling_team        0
city                0
current_score       0
balls_left          0
wicket_left         0
current_run_rate    0
last_five           0
runs_x              0
dtype: int64

In [146]:
final_df.shape

(38477, 9)

In [147]:
final_df = final_df.sample(final_df.shape[0])

In [148]:
final_df.shape

(38477, 9)

In [149]:
X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']

In [150]:
from sklearn.model_selection import train_test_split

In [151]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [152]:
X_train

,batting_team,bowling_team,city,current_score,balls_left,wicket_left,current_run_rate,last_five
1684,West Indies,Pakistan,Abu Dhabi,58,48,9,4.833333,30.0
27863,New Zealand,Sri Lanka,Lauderhill,69,46,9,5.594595,31.0
11187,India,New Zealand,Hamilton,140,21,9,8.484848,42.0
27576,Australia,England,Adelaide,38,89,9,7.354839,37.0
4935,Pakistan,Sri Lanka,Lahore,102,38,9,7.463415,38.0
...,...,...,...,...,...,...,...,...
1434,West Indies,Pakistan,Dubai,48,49,9,4.056338,19.0
40374,Pakistan,Bangladesh,Mirpur,71,65,9,7.745455,28.0
5151,India,South Africa,Centurion,57,74,9,7.434783,29.0
48736,Australia,India,Chandigarh,62,81,9,9.538462,45.0
17101,New Zealand,South Africa,Durban,90,47,9,7.397260,28.0

In [153]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error

In [154]:
transformer = ColumnTransformer([
    ('transformer', OneHotEncoder(drop='first', sparse_output=False), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [155]:
pipe = Pipeline(steps=[
    ('step1', transformer),
    ('step2', StandardScaler(with_mean=False)),
    ('step3', XGBRegressor(n_estimators=1000, learning_rate=0.2, max_depth=12, random_state=1))
])

In [156]:
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

In [157]:
r2_score(y_test, y_pred)

0.9798437356948853

In [158]:
mean_absolute_error(y_test, y_pred)

np.float64(2.030115256438384)

In [159]:
import pickle

In [160]:
pickle.dump(pipe, open('model.pkl', 'wb'))